<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="logo">GatorRide</a>
  </div>
  
  <div class="navbar-menu">
    <ng-container *ngIf="authService.isAuthenticated() | async; else notAuthenticated">
      <div class="navbar-end">
        <div class="user-profile">
          <div class="avatar" *ngIf="(authService.currentUser$ | async)?.profile_image; else noImage">
            <img [src]="(authService.currentUser$ | async)?.profile_image" alt="Profile" />
          </div>
          <ng-template #noImage>
            <div class="avatar fallback">
              {{ (authService.currentUser$ | async)?.name?.charAt(0) }}
            </div>
          </ng-template>
          <span class="user-info">
            {{ (authService.currentUser$ | async)?.name }}
          </span>
        </div>
        <button (click)="logout()" class="logout-button">
          Logout
        </button>
      </div>
    </ng-container>
    
    <ng-template #notAuthenticated>
      <div class="navbar-end">
        <a routerLink="/login" class="nav-link">Login</a>
        <a routerLink="/signup" class="nav-link primary">Sign Up</a>
      </div>
    </ng-template>
  </div>
</nav> 