<footer class="bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h6>GatoRide</h6>
        <p>Making travel easier and more sustainable.</p>
      </div>
      <div class="col-md-4">
        <h6>Quick Links</h6>
        <ul class="list-unstyled">
          <li><a routerLink="/about" class="text-light">About Us</a></li>
          <li><a routerLink="/safety" class="text-light">Safety</a></li>
          <li><a routerLink="/contact" class="text-light">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6>Connect With Us</h6>
        <div class="social-links">
          <a href="#" class="text-light me-3"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <hr class="bg-light">
    <div class="text-center">
      <p class="mb-0">&copy; 2024 GatorRide. All rights reserved.</p>
    </div>
  </div>
</footer>
